* {
 margin: 0;
}

.card_container {
 display: flex;
 border-radius: 5px;
 border-color: cadetblue;
 background-color: rgb(193, 222, 212);
 box-shadow: 0.2em 0.2em 0.8em black;
 height: 15em;
 margin-right: 5em;
 margin-bottom: 1em;
}

.card_imagem {
 background-position: center;
}
