.container {
 margin-top: 10px;
 margin-left: 25px;
}

.container1 h1 {
 font-family: Montserrat;
 font-size: 30px;
 font-weight: 400;
 line-height: 72px;
 letter-spacing: -0.015em;
 text-align: left;
}

.container1 p {
 font-family: Montserrat;
 font-size: 15px;
 font-weight: 400;
 line-height: 30px;
 letter-spacing: -0.015em;
 text-align: left;
 color: #000000cc;
 margin-bottom: 20px;
}

.container2 {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
}

.container2 p {
 height: 110px;
 width: 290px;
 font-family: Montserrat;
 font-size: 28px;
 font-weight: 400;
 letter-spacing: -0.015em;
 text-align: left;
 margin-top: 80px;
 margin-left: 150px;
}
