.container {
 margin-top: 50px;
 margin-left: 25px;
}

.container1 h1 {
 width: 904px;
 height: 71px;
 top: 1149px;
 left: 83px;
 gap: 0px;
 opacity: 0px;
 font-family: Montserrat;
 font-size: 38px;
 font-weight: 400;
 line-height: 72px;
 letter-spacing: -0.015em;
 text-align: left;
}

.container1 p {
 font-family: Montserrat;
 font-size: 15px;
 font-weight: 400;
 line-height: 30px;
 letter-spacing: -0.015em;
 text-align: left;
 color: #000000cc;
 margin-bottom: 30px;
}

.container2 {
 display: flex;
 justify-content: space-between;
 margin-top: 50px;
}

.container2 p {
 height: 127px;
 width: 290px;
 font-family: Montserrat;
 font-size: 28px;
 font-weight: 400;
 letter-spacing: -0.015em;
 text-align: left;
 margin-top: 80px;
 margin-left: 150px;
}
